.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0;

  p {
    margin: 0;
  }

  &__name {
    width: 40%;
  }

  &__amount {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__price {
    width: 20%;
    text-align: end;
  }

  &__delete {
    position: absolute;
    right: -50px;
  }
}
