.cart {
  &__title,
  &__no-product {
    text-align: center;
  }

  &__line {
    border-top: 1px dashed #ccc;
    margin: 10px 0;
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }

  .total {
    &__title {
      width: 40%;
    }

    &__amount {
      width: 40%;
      text-align: center;
    }

    &__price {
      width: 20%;
      text-align: end;
    }
  }
}
